<h1>Edit</h1>

<form action="/figures/<%= @figure.id%>" method="post">
   <input type="hidden" name="_method" value="patch">
   <hr>
   <label>Edit Name</label>
   <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name%>"><br>
   <br>
   <hr>
   <label>Edit title</label><br>
       <%Title.all.each do |t|%>
       <label><%=t.name%></label>
      <input type="checkbox" name="figure[title_ids]"[] id="<%=t.name%>">  value="<%=t.id%>"<br>
      <%end%>
   <hr>
   <label>Edit landmarks</label>



</form>
